extends ../layouts/base
 
block content
	if enquirySubmitted
		.jumbotron.text-center
			h1 Successo!
				p Obrigado pela sua mensagem! 
	
	else
		article.wrapper#page-single
			h1.default-margin.title-section Contato
			#form(class="center padding-right padding-left")
				form(method='post')
					input(type='hidden', name='action', value='contact')
					.form-group.flex(class=validationErrors.name ? 'has-error' : null)
						label(class="black-text margin-bottom") Nome
						input(type='text' name='name' value=formData.name required placeholder="Nome" class="margin-left form-control border-radius default-padding")
					.form-group.flex(class=validationErrors.email ? 'has-error' : null)
						label(class="black-text margin-bottom") Email
						input(type='email' name='email' value=formData.email required placeholder="Email" class="margin-left form-control border-radius default-padding")
					.form-group.flex
						label(class="black-text margin-bottom phone-mask") Telefone
						input(type='text' name='phone' maxlength="15" value=formData.phone placeholder='(XX) XXXXX-XXXX' class="margin-left form-control border-radius default-padding")
					.form-group.flex(class=validationErrors.enquiryType ? 'has-error' : null required)
						label(class="black-text margin-bottom") Assunto
						select(name='enquiryType' class="input-text margin-left form-control border-radius margin-left" placeholder="Selecione o assunto")
							option(value='Geral' class="margin-left") Selecione o assunto
							each type in enquiryTypes
								option(class="margin-left" value=type.value selected=formData.enquiryType === type.value)= type.label
					.form-group.flex(class=validationErrors.message ? 'has-error' : null)
						label(class="black-text margin-bottom") Mensagem
						textarea(name='message' placeholder='Deixe sua mensagem...' required class="form-control border-radius default-padding")
					.form-group.flex
						button(type='submit' class="border-radius flex flex-justify-content-center default-padding")#submit Enviar